.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.link:hover {
  color: #eee;
}

.logout {
  padding: 5px 10px;
  border: none;
  background-color: #c14747;
  color: #ddd;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
}

.logout:hover {
  color: #fff;
}
